.MuiButton-containedPrimary {
    background: #002F82 !important;
    font-family: Montserrat;
    border-radius: 20px !important;
    border-top-left-radius: 0 !important;
    width: 327px !important;
    height: 64px !important;
}

.login__content {
    padding-top: 20px;
}

.react-swipeable-view-container {
    transition: 1s !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border-radius: 5px;
    margin-top: 20px;
    border: 2.5px solid rgba(112, 112, 112, 0.1);
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    color: rgba(112, 112, 112, 0.8);

}

.register-choice h3{
    font-size: 36px;
    background: -webkit-linear-gradient(#0F47DD, #002F82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-grey{
    cursor: pointer;
    color: #0E47DD;
    background: rgba(112, 112, 112, 0.1);
    border-radius: 0px 22px 22px 22px;
    font-family: Montserrat;
    width: 170px !important;
    font-weight: 700;
    outline: none;
    border: none;
    height: 52px !important;
}

.btn-grey .MuiButton-label{
    font-size: 15px;
}