body {
    margin: 0;
    font-family: Montserrat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.165px;
    background: -webkit-linear-gradient(#0F47DD, #002F82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    background: -webkit-linear-gradient(#FFA877, #DF704B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.165px;
    background: -webkit-linear-gradient(#0F47DD, #002F82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}


/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
