@font-face {
    font-family: Montserrat-bold;
    src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf) format('TrueType');
}

a, .agree{
    color: #707070;
    opacity: 0.5;
    font-size: 14px;
}

.blue h3, .form-document h3{
    background: -webkit-linear-gradient(#0F47DD, #002F82);
    -webkit-background-clip: text;
}

.middle{
    position: relative;
    top: 50px;
}

.d-block{
    display: block !important;
}

.btn-label{
    width: 100%;
    text-align: center;
}

.btn-label span{
    width: 100%;
}

/* RegisterPro */

.register-pro .form__group h2{
    font-size: 48px;
    background: -webkit-linear-gradient(#FFA877, #DF704B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.register-pro .form__group h3{
    font-size: 36px;
    margin-top: 20px;
}

.register-pro .form__group .last-step h3{
    background: -webkit-linear-gradient(#FFA877, #1047DC);
    -webkit-background-clip: text;
    line-height: 45px;
}

#responsive-dialog-title{
    text-align: right;
}

#responsive-dialog-title h2{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #0E47DD;
}

/* Register */

.id{
    padding: 15px 30px !important;
}

.id .imgCard{
    position: relative;
    top: 20px;
}

.passport{
    padding: 15px 30px 5px !important;
}

/* form */
iframe{
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.MuiButton-label{
    font-family: Montserrat;
}

.form {
    background-color: #ffffff;
}

.form__wrapper .form {
    padding: 75px;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.form .form__group .MuiFormControlLabel-label {
    font-size: 14px;
    color: #b1b1b1;
}

.form .form__group .MuiCheckbox-colorSecondary.Mui-checked {
    color: #b1b1b1;
}

.title {
    width: 100%;
    display: block;
}

.title .title__content {
    width: 100%;
}

.submission_block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.submission_block .submission__button {
    background-color: #d37bf5;
    color: #ffff;
    padding: 6px 50px;
    border-radius: 20px;
}

.social_icon .social__button {
    background-color: #d37bf5;
    color: #ffff;
    padding: 6px 10px;
    border-radius: 10px;
}

.submission_block .content__prompt {
    font-weight: bold;
    color: #8261bd;
}

.submission_block .sign__in__parass {
    font-size: 12px;
}

.title .title__content h2 {
    color: #8261bd;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: Montserrat-bold;
}

.title .title__content h4 {
    color: #8261bd;
    /* font-size: 1.3rem; */
    /* text-transform: uppercase; */
    font-family: Montserrat-bold;
}

.form__group {
    padding-top: 18px;
}

.input__field_block .field, .pac-target-input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
}

.MuiFormControl-root {
    width: 100% !important;
}

.pac-target-input{
    width: 80%;
}

.input__field_block .MuiOutlinedInput-input, .pac-target-input {
    padding: 12.5px 14px;
    border-radius: 4px;
    border: 2.5px solid rgba(112, 112, 112, 0.1);
}

.input__field_block_signup .MuiOutlinedInput-input {
    padding: 14px;
    border-radius: 4px;
    border: 2.5px solid rgba(112, 112, 112, 0.1);
    color: rgba(112, 112, 112, 0.5);
    font-size: 18px;
}

#standard-adornment-password, input[type=password], input[type=text]{
    padding: 14px;
    border-radius: 4px;
    border: 2.5px solid rgba(112, 112, 112, 0.1);
    color: rgba(112, 112, 112, 0.5);
    font-size: 18px;
}

.standard-adornment-password:before{
    content: '' !important;
    position: initial !important;
}

.MuiInput-underline:before, .MuiInput-underline:after{
    content: none !important;
}


.footer_content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.question_btn {
    cursor: pointer;
    color: #ffffff;
    font-family: Montserrat;
    border-radius: 20px !important;
    width: 100px !important;
    font-weight: 700;
    outline: none;
    border: none;
    height: 56px !important;
}

.question_btn.center, .btn-grey.center{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.question_btn.next{
    background: linear-gradient(180deg, #FFA877 0%, #DF704B 100%) !important;
    border-top-left-radius: 0 !important;
}

.question_btn.previous{
    color: #C4C4C4;
    background-color: #f1f1f1;
    border-radius: 20px;
    border-top-right-radius: 0 !important;
}

.email_footer_content {
    background: #F2F2F2;
    /* position: absolute; */
    height: 276px;
}

.email_footer_content_inside {
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
}

.email_footer_content_inside p {
    color: #002F82;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}

.email_form_cover {
    width: 100%;
}

.btn_cover {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.confirm_btn {
    border: none;
    color: white;
    width: 327px;
    height: 64px;
    background: #002F82 !important;
}

.confirm_btn_cover {
    padding-top: 27px;
}

.agree_btn {
    margin-left: 15px;
    border: none;
    color: white;
    width: 186px;
    height: 40px;
    background: #002F82 !important;
}

.btn_style {
    font-family: Montserrat;
    border-radius: 20px !important;
    border-top-left-radius: 0 !important;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.read_btn {
    border: 1px solid #002F82;
    color: #002F82;
    height: 40px !important;
    width: 111px !important;
    background: #F2F2F2 !important;
}

.confirm_btn_disable {
    /* border: none; */
    cursor: pointer;
    border: 1px solid #002F82;
    color: #fff;
    width: 300px;
    height: 64px;
    background: #F2F2F2 !important;
}

.margin {
    margin-left: 11px;
}

.padding {
    padding-top: 60px;
}

.MuiInput-root {
    width: 100%;
}

.MuiMobileStepper-progress {
    width: 100% !important;
}

.MuiLinearProgress-barColorPrimary {
    background: linear-gradient(180deg, #FFA877 0%, #DF704B 100%) !important;
}

.btn_id {
    border: 1px solid #002F82 !important;
    color: #002F82 !important;
}

.MuiRadio-colorSecondary.Mui-checked{
    color: #002F82 !important;
}



/* stepper sidebar */
.vertical-stepper{
    background: #0E47DD;
    border-radius:20px;
}
.vertical-stepper .MuiPaper-root{
    background:transparent;
}

.vertical-stepper .MuiStepLabel-label, .MuiStepIcon-root.MuiStepIcon-completed, .MuiStepLabel-label.MuiStepLabel-completed, .vertical-stepper .MuiStepLabel-label.MuiStepLabel-active, .vertical-stepper .MuiCollapse-wrapperInner{
    color:white !important;
}

.vertical-stepper .MuiStepLabel-label{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.vertical-stepper .MuiCollapse-wrapperInner{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.MuiStepIcon-root.MuiStepIcon-active{
    color: white !important;
    font-size: 2rem !important;
}
.MuiStepIcon-text{
    fill:#0E47DD !important;
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
.MuiStepConnector-line, .MuiStepContent-root{
    border-color: #002F82 !important;
}

.align-flex-center{
    align-items: center;
}

.align-flex-right{
    align-items: end;
}

.close-btn .MuiSvgIcon-root{
    color:#002F82;
    border-radius:100%;
    border: 1px solid #002F82;
}

.enumerate {
    color:#002F82;
    font-weight: bold;
    font-size: 24px;
}

.enumerate span{
    border: 2px solid #002F82;
    border-radius: 50px;
}

.enumerate .one{
    padding: 5px 15px;
}

.enumerate .two{
    padding: 5px 12px;
}

.doc-download{
    border: 2px solid rgba(112, 112, 112, 0.1) !important;
    text-transform: initial !important;
    color:#707070 !important;
    padding: 15px !important;
    border-radius: 10px !important;
    width: 80%;
}

.doc-download .MuiButton-label{
    justify-content: initial;
}

.doc-download img{
    margin-right: 5px;
    left: 0;
}

.doc-download .MuiButton-startIcon{
    margin-left: 0px;
}

.doc-download .MuiButton-endIcon{
    position: absolute;
    right: 15px;
}

.borderId{
    border: 2px solid rgba(112, 112, 112, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding:2rem;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.borderId img{
    width: 100%;
}

#passport-img{
    max-height: 200px;
}

.id-card{
    padding:4rem 2rem 4rem 2rem;
}
.btn-upload{
    background: rgba(112, 112, 112, 0.1) !important;
    border-radius: 18px !important;
    padding: 20px !important;
    text-align: center;
    cursor: pointer;
}
.btn-upload span{
    display: block;
    text-transform: initial;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px !important;
    color: #002F82;
}
.text-grey{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #707070;
}

.mb-0{
    margin-bottom: 0;
}

.mt-1{
    margin-top:5px;
}

.text-black{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color:#000000;
}

.border-grey{
    border: 2px solid rgba(112, 112, 112, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding:2rem;
}
.mention .MuiFormControlLabel-label{
    font-size: 14px;
    color: rgba(112, 112, 112, 0.52);
}

.padding-l-10{
    padding-left:10px;
    padding-right: 10px;
}
@media (max-width: 767px){
    .img-selection{
        width: 100%;
    }
}


.text-center{
    text-align: center;
}

.m-top-20{
    margin-top:20px;
}

h1.title-blue{
    font-size: 50px;
    background: -webkit-linear-gradient(#0F47DD, #002F82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2.title-white{
    color:white;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
}

p.text-blue{
    color: #002F82;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.container-buttons{
    align-items: stretch;
    display: flex;
}
.col-buttons{
    display: inline;
}

.col-buttons .MuiFormControlLabel-root{
    max-width: 200px;
    text-align: center;
    color: #707070;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
}

@media (max-width: 767px){
    .col-buttons .MuiFormControlLabel-root{
        max-width: 45%;
    }
}

.col-buttons .MuiFormGroup-root{
    display: initial;
}

.custom-radio .MuiFormControlLabel-root .MuiFormControlLabel-label{
    color: #707070;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 5%), 0px 0px 25px 4px rgb(0 0 0 / 5%);
    border-radius: 14px;
    padding: 15px;
    margin: 10px;
}

.custom-radio .MuiFormControlLabel-root .MuiButtonBase-root{
    display: none !important;
}

.custom-radio  .Mui-checked + .MuiFormControlLabel-label{
    background: linear-gradient(180deg, #FFA877 0%, #DF704B 100%) !important ;
    color:white;
}

h3.multicolor{
    background: -webkit-linear-gradient(#1047DC, #FFA877);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
